*
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none
    font-family: Arial, Helvetica, sans-serif

header
    background-color: $darkgrey
    display: grid
    grid-template-columns: 30% 1fr
    align-items: center
    height: 8vh
    padding: 0 10vw
    h1
        color: white
    .menu
        display: flex
        justify-content: flex-end
        color: yellow

        li
            padding: 0 3vh
            a
                color: $lightgrey

main
    #banner
        width: 100%
    .citation
        background-color: $bgcolor-beige
        color: $lightgrey
        text-align: center
        height: 30vh
        display: grid
        align-content: space-evenly
        padding: 3vh 35vh
        #simplicity
            color: $darkgrey
        #pro
            @include pro

footer
    text-align: center
    section
        background-color: $lightblue
        color: white
        height: 30vh
        display: grid
        align-content: space-evenly
        padding: 3vh 35vh
        h3
            font-weight: 100
        p
            line-height: 2rem

        .fa-brands
            font-size: 30px
            opacity: 0.4
            margin: 10px 15px
    .copyright
        background-color: $darkgrey
        color: $lightgrey
        height: 7vh
        display: flex
        align-items: center
        justify-content: center

h2
    font-weight: 500

h3
    font-size: 2rem

.blue
    color: $lightblue
