@media screen and (max-width: 1024px)
    .cards
        width: 100%
    .cards2
        grid-template-columns: repeat(3, 50px)
@media screen and (min-width: 320px) and (max-width:768px)
    header
        grid-template-columns: 1fr
        height: auto
        .menu
            display: block
    main
        .citation
            padding: 2vh 5vh
        .cards
            grid-template-columns: 1fr
            div
                border-radius: unset
        .work
            grid-template-columns: 1fr
            .cards2
                grid-template-columns: 1fr
                justify-content: center
                width: 40%
                margin: 5vh auto
                grid-gap: 20px
    footer
        section
            padding: 3vh 10vh
        
    