* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #EFEFF1;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  color: #7A848D;
  font-weight: 100;
}

h4 {
  color: #363B47;
  font-size: 13px;
}

.blue {
  color: #3676BB;
}

button {
  background-color: #26A2CC;
  color: white;
  border-radius: 5%;
  border: none;
  padding: 15px 20px;
}

header {
  background-color: #363B47;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  height: 8vh;
  padding: 0 10vw;
}
header h1 {
  color: white;
}
header .menu {
  display: flex;
  justify-content: flex-end;
}
header .menu li {
  padding: 0 3vh;
}
header .menu li a {
  color: #7A848D;
}

main #banner {
  width: 100%;
}
main .citation {
  background-color: #E8E6E0;
  color: #7A848D;
  text-align: center;
  height: 30vh;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  padding: 3vh 35vh;
}
main .citation #simplicity {
  color: #363B47;
}
main .citation #pro {
  background-color: #3676BB;
  color: white;
}
main .cards {
  width: 80%;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6vh;
  text-align: center;
}
main .cards div {
  background-color: #E2E0E0;
  border-radius: 5%;
  display: grid;
  align-items: center;
  color: #7A848D;
  padding: 2vh 4vh;
}
main .cards div i {
  background-color: #fff;
  color: #3676BB;
  font-size: 30px;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
}
main .cards div p {
  font-size: 1rem;
}
main .work {
  width: 80%;
  margin: 13vh auto;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  color: #7A848D;
}
main .work .about {
  padding-right: 7vh;
}
main .work .about p {
  margin: 2vh 0;
}
main .work .about #expl {
  color: #A9A9AA;
}
main .work .cards2 {
  display: grid;
  grid-template-columns: repeat(3, 30vh);
  justify-content: end;
  gap: 5px;
}
main .work .cards2 div {
  background-color: #363B47;
  text-align: center;
  border-radius: 3%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: space-between;
  justify-content: center;
}
main .work .cards2 div img {
  width: 100%;
}
main .work .cards2 div h3 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

footer {
  text-align: center;
}
footer section {
  background-color: #3676BB;
  color: white;
  height: 30vh;
  display: grid;
  align-content: space-evenly;
  padding: 3vh 35vh;
}
footer section p {
  line-height: 2rem;
}
footer section h3 {
  color: white;
  opacity: 0.7;
}
footer section .fa-brands {
  font-size: 30px;
  opacity: 0.4;
  margin: 10px 15px;
}
footer .copyright {
  background-color: #363B47;
  color: #7A848D;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cards {
    width: 100%;
  }

  .cards2 {
    grid-template-columns: repeat(3, 50px);
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    height: auto;
  }
  header .menu {
    display: block;
  }

  main .citation {
    padding: 2vh 5vh;
  }
  main .cards {
    grid-template-columns: 1fr;
  }
  main .cards div {
    border-radius: unset;
  }
  main .work {
    grid-template-columns: 1fr;
  }
  main .work .cards2 {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 40%;
    margin: 5vh auto;
    grid-gap: 20px;
  }

  footer section {
    padding: 3vh 10vh;
  }
}

/*# sourceMappingURL=style.css.map */
